body {
  background-color: white;
}
p {
  font-size: 14px;
  color: red;
  font-family: Helvetica;
  Font-style: italic;
  text-decoration: line-through;
  }
div { 
  background-color: blue;
  height: 100px;
  width: 200px;
  margin: 10px;
  border: dashed black 5px;
}